html,body {
    height:100%;
  }
  
  nav.navbar{
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
 }
 
 .navbar-inverse {
     background-color: #222;
     border-color: #080808;
 }
 
 nav.navbar.transparent {
   background-color:rgba(0,0,0,0);
 }

.navbar-dark .navbar-brand {
      color: orange;
}
 body, html {
    height: 100%;
  }
  
  .bg { 
    /* The image used */
    background-image: url("../images/aisle-3105629_1920.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .bg {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .full-width-image {
    height: 300px;
    background: url("https://pixabay.com/get/5fe4dc4a4b51b108feda846082293679133bdee5554c704c732b78d39f4bc650/supermarket-949913_1920.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  body {
    font-family: 'Open Sans', sans-serif ;
    }


    h3 {
      text-shadow: 5px 5px #000000;
    }